h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  background: #1a1e24;
  color: #ddd
}

html {
    background: #1a1e24;
}

h1 { 
    font-size: 3.5em; 
    font-weight: 200;
    margin: 40 40 40 40;
}

h2 {
  color: #888;
  font-size: 2em;
}

p {
    text-align: left;
    font-family: monospace;
    font-size: 12pt;
    line-height: 0;
    color: white;
}

div .terminal {
    margin: 0;
    padding-right: 9;
}

.command {
    color: green;
}

p .tag {
    color: #8b8c8e;
}

p .answer {
    color: white;
}